html,body,#app{
  height: 100%;
  padding: 0;
  margin: 0;
}
/**
  表单lable与输入框不对齐
  原.el-form-item__label加了float:none
 */
.el-form-item__label {
  float: left!important;
}
.el-main {
  line-height: 30px!important;
}
