<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liao.system.mapper.TbUserMapper">
    <select id="findUserPage" resultType="TbUser">
        select u.id,u.username,u.nickname,u.sex,u.phone_number,d.`name` as deptName,u.birth,u.email,u.`status`,u.department_id,u.password from tb_user u INNER JOIN tb_department d on u.department_id = d.id ${ew.customSqlSegment} and u.deleted = 0
    </select>

    <select id="exportUsers" resultType="TbUser">
        select u.username,u.nickname,u.email,u.phone_number,u.birth,d.`name` as deptName,case when u.sex = 0 then '男' else '女' end as sexName, case when u.status = 1 then '启用' else '禁用' end as statusName from tb_user u INNER JOIN tb_department d on u.department_id = d.id ${ew.customSqlSegment} and u.deleted = 0
    </select>

    <select id="findUserById" resultType="TbUser">
        select u.id, u.username, u.nickname, u.email, u.password, u.sex, u.avatar, u.birth, u.phone_number, u.department_id from tb_user u where id = #{id}
    </select>
</mapper>
